<div class="topbar-dark left-side-menu-dark">
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom navbar-custom-dark">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="d-none d-sm-block">
                    <form class="app-search">
                        <div class="app-search-box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="mdi mdi-magnify"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="assets/images/users/user-6.jpg" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            Rinu <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>
                        
                        <!-- item-->
                        <a href="account.html" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-outline"></i>
                            <span>My Account</span>
                        </a>
                        
                        <!-- item-->
                        <a href="settings.html" class="dropdown-item notify-item">
                            <i class="mdi mdi-settings"></i>
                            <span>Settings</span>
                        </a>
                        
                        <div class="dropdown-divider"></div>
                        
                        <!-- item-->
                        <a href="index.html" class="dropdown-item notify-item">
                            <i class="mdi mdi-power"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            
            <!-- LOGO -->
            <div class="logo-box">
                <a routerLink="/dashboard" class="logo text-center">
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="30">
                        <!-- <span class="logo-lg-text-light">Asset Management System</span> -->
                    </span>
                    <span class="logo-sm">
                        <!-- <span class="logo-sm-text-dark">AMS</span> -->
                        <img src="assets/images/logo-sm.png" alt="" height="24">
                    </span>
                </a>
            </div>
            
            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile disable-btn waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
                
                <li>
                    <h4 class="page-title-main">Create User</h4>
                </li>
            </ul>
        </div>
        
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">
            <div class="slimscroll-menu">
                <!-- User box -->
                <div class="user-box text-center">
                    <img src="assets/images/users/user-6.jpg" alt="user-img" title="Rinu Madathil" class="rounded-circle img-thumbnail avatar-lg">
                    <div class="dropdown">
                        <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">Rinu Madathil</a>
                        <div class="dropdown-menu user-pro-dropdown">
                            <!-- item-->
                            <a href="account.html" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-outline mr-1"></i>
                                <span>My Account</span>
                            </a>
                            <!-- item-->
                            <a href="settings.html" class="dropdown-item notify-item">
                                <i class="mdi mdi-settings mr-1"></i>
                                <span>Settings</span>
                            </a>
                            
                            <!-- item-->
                            <a href="index.html" class="dropdown-item notify-item">
                                <i class="mdi mdi-power mr-1"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                    <p class="text-muted">Admin Head</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="settings.html" class="text-muted">
                                <i class="mdi mdi-settings"></i>
                            </a>
                        </li>
                        
                        <li class="list-inline-item">
                            <a href="index.html" class="text-custom">
                                <i class="mdi mdi-power"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Navigation</li>
                        <li>
                            <a routerLink="/dashboard">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span> Dashboard </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">
                                <i class="mdi mdi-layers"></i>
                                <span> Asset Management </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a routerLink="/usermanagement">User Management</a></li>
                                <li><a routerLink="/usergroup">User Group</a></li>
                                <li><a routerLink="/rolemanagement">Roles Management</a></li>
                                <li><a routerLink="/permissionmanagement">Permission</a></li>
                                <li><a routerLink="/branchmanagement">Branch</a></li>
                                <li><a routerLink="/product">Product</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="activity.html">
                                <i class="mdi mdi-chart-line-variant"></i>
                                <span> Activity Log </span>
                            </a>
                        </li>
                        <li>
                            <a href="reports.html">
                                <i class="mdi mdi-file-document-box-multiple-outline"></i>
                                <span> Reports </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        
        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div class="row align-items-center mb-3">
                                    <div class="col">
                                        <h4 class="mt-0 header-title">Active Users</h4>
                                        <p class="text-muted font-14 mb-0">
                                            List of active users
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <a routerLink="/usermanagement/createuser" class="btn btn-primary">
                                            Create User
                                        </a>
                                    </div>
                                </div>
                                
                                <table id="userManagement" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Confirmed</th>
                                            <th>Role</th>
                                            <th>Permission</th>
                                            <th>Last Updated</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr >
                                            <td>n</td>
                                            <td>n</td>
                                            <td>n</td>
                                            <td><span class="badge badge-success">Yes</span></td>
                                            <!--td>{{value.role_name}}</td>
                                            <td>{{value.module_name}}</td-->
                                            <td>m</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-sm" data-toggle="tooltip" title="View"> <i class="mdi mdi-eye text-primary font-18"></i> </button>
                                                    <a routerLink="/usermanagement/edituser" class="btn btn-sm" data-toggle="tooltip" title="Edit"> <i class="mdi mdi-square-edit-outline text-warning font-18"></i> </a>
                                                </div>											
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- container -->
            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2020 - 2021 &copy; Asset Management System designed with ❤ by 
                            <a href="mailto:rinu62@gmail.com">RinuMadz</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="https://vedya.biz/about-us" target="_blank">About Us</a>
                                <a href="https://vedya.biz/contact-us" target="_blank">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <!-- Vendor js -->
    <script src="/assetlogin/src/assets/js/vendor.min.js"></script>
    <script src="/assetlogin/src/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/assetlogin/src/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- App js -->
    <script src="/assetlogin/src/assets/js/app.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#userManagement').DataTable({
                pageLength : 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']],
                language: {
                    paginate: 
                    {
                        previous: "<i class='mdi mdi-chevron-left'>",
                            next: "<i class='mdi mdi-chevron-right'>"
                    }
                },
                columnDefs: [
                    { "orderable": false, "targets": 7 }
                ]
            });
        
        } );
    </script>
</div>